*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: linear-gradient(to top right, #8b1919 30%,#d89123);
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.song-info img{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 0 6px 12px wheat;
    transition: 0.4s;
}

.player-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-controls .play{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;

    border: none;
    transition: none;
    appearance: none;
    outline: none;

    background-color: rgb(111, 223, 111);
    color: aliceblue;
    margin: 0 40px;
    cursor: pointer;
    box-shadow: 0 0 3px 6px rgba(87, 206, 87, 0.6);
    transition: 0.4s;
}

.player-controls .play:hover{
    box-shadow: 0 0 6px 12px rgba(87, 206, 87, 0.8);
}

.player-controls .skip-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;

    border: none;
    transition: none;
    appearance: none;
    outline: none;

    background-color: rgb(57, 175, 214);
    color: aliceblue;

    cursor: pointer;
    box-shadow: 0 0 3px 6px rgba(55, 202, 221,0.6);
    transition: 0.4s;
}

.player-controls .skip-btn:hover{
    box-shadow: 0 0 4px 8px rgba(55, 202, 221,0.8);
}

.in-queue{
    font-size: 1.5rem;
    color: aliceblue;
}

@media all and (max-width: 600px) {
    .song-info .song-name{
        font-size: 14px;
    }
}

@media all and (max-width: 450px) {
    .song-info img{
        width: 80%;
        height: 300px;
    }
    .song-info .song-name{
        font-size: 12px;
    }
    .in-queue{
        font-size: 1rem;
    }
}

@media all and (max-width: 360px){
    .song-info .song-name{
        font-size: 8px;
    }
    .in-queue{
        font-size: 14px;
    }
}